services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: some_nic_admin
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: nicwaka
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U some_nic_admin -d nicwaka"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  bot:
    build: .
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://some_nic_admin:123@db:5432/nicwaka
      REDIS_URL: redis://redis:6379/0
    ports:
      - "8080:8080"
    command: sh -c "wait-for-it.sh db:5432 -t 60 -- python main.py"

  scheduler:
    container_name: wakatime-scheduler
    build:
      context: .
      dockerfile: Dockerfile.cron
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://some_nic_admin:123@db:5432/nicwaka
      REDIS_URL: redis://redis:6379/0
    volumes:
      - ./logs:/var/log/app
